# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
venv/
env/
.venv/

# Streamlit
.streamlit/

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Temporary Word/Office files
~$*.docx
~$*.xlsx
~$*.pptx

# Logs
*.log

# Environment files
.env
